#contact_modal {
    display: none;
}

.photographers_header {
    display : flex;
    justify-content: space-between;
    align-items : center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 50px 100px;
    padding : 0 50px;
}

.photographers_header--bloc:nth-child(1){
    display : flex;
    flex-direction: column;
    gap : 2vh;
}

.photographers_header--bloc h1{
    font-size : 64px;
    font-weight : 400;
    color : #D3573C;
    line-height: 1.2;
    margin : 0;
}

.photographers_header--bloc p.city{
    font-size : 24px; 
    font-weight : 400; 
    color : #901C1C;
    line-height: 1.2;
    margin : 0;
}

.photographers_header--bloc p.tagline{
    font-size : 18px;
    font-weight : 400;
    color : #525252;
    line-height: 1.2;
    margin : 0;

}

.photographers_header--bloc img{
    height: 200px;
    width: 200px;
    border-radius : 50%;
    object-fit: cover;
}





.medias{
    display : flex;
    flex-wrap: wrap;
    gap : 5vw;
    border : 2px solid red;
    margin: 50px 100px;
    overflow : hidden;
}

.medias::after{  
    content: "";
    flex: auto;
      
}

.media-wrapper{
    display : flex;
    flex-direction: column;
    gap : 1vh;
    width : calc((100% / 3) - 5vw);
    height : 50vh;
    border : 1px solid purple;
}

.media-wrapper_up{
    width : 100%;
    height : 100%;
    overflow: hidden;
}
.media-wrapper_up img{
    width : 100%;
    height : 100%;
    object-fit: cover;
}
.media-wrapper_up video{
    width : 100%;
    height : 100%;
    object-fit: cover;
}
.media-wrapper_down{
    display : flex;
    justify-content: space-between;
    background-color: pink;
    width : 100%;
}
.media-wrapper_down--title{
    
}
.media-wrapper_down--likes{
    display : flex;
    gap : 2vw;
    
}

.likes{
    position : fixed;
    bottom : 0;
    right : 0;
    width : 20vh;
    height : 10vh;
    background-color: violet;
}

.red{
    color : red
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}