*{
    box-sizing: border-box;
}



/* PHOTOGRAPHE HEADER */

.photographers_header {
    display : flex;
    justify-content: space-between;
    align-items : center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 50px 100px;
    padding : 0 50px;
}

.photographers_header--bloc:nth-child(1){
    display : flex;
    flex-direction: column;
    gap : 2vh;
}

.photographers_header--bloc h1{
    font-size : 64px;
    font-weight : 400;
    color : #D3573C;
    line-height: 1.2;
    margin : 0;
}

.photographers_header--bloc p.city{
    font-size : 24px; 
    font-weight : 400; 
    color : #901C1C;
    line-height: 1.2;
    margin : 0;
}

.photographers_header--bloc p.tagline{
    font-size : 18px;
    font-weight : 400;
    color : #525252;
    line-height: 1.2;
    margin : 0;

}

.photographers_header--bloc img{
    height: 200px;
    width: 200px;
    border-radius : 50%;
    object-fit: cover;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}



/* FILTRE */


.photograph-sort{
    display : flex;
    gap : 5vw;
    margin: 50px 100px;
}

#popularityButton, #titleButton{
    cursor : pointer;
}



/* MEDIAS */ 


.medias{
    display: grid;
    grid-template-columns: repeat(auto-fill, 30.2%);
    justify-content: space-between;
    grid-gap: 3vw;
    margin: 50px 100px;
    overflow : hidden;
}


.media-wrapper{
    display : flex;
    flex-direction: column;
    gap : 1vh;
    height : 25vw;
    border : 2px solid violet;
}

.media-wrapper_up{
    width : 100%;
    height : 100%;
    border-radius : 5px;
    overflow: hidden;
    cursor : pointer;
    border : 1px solid blue;

}
.media-wrapper_up img{
    width : 100%;
    height : 100%;
    object-fit: cover;
    object-position: center;
}
.media-wrapper_up video{
    width : 100%;
    height : 100%;
    object-fit: cover;
}
.media-wrapper_down{
    display : flex;
    justify-content: space-between;
    background-color: rgb(236, 233, 233);
    width : 100%;
}
.media-wrapper_down--title{
    display : flex;
    height : fit-content;
    border : 1px solid black;
}
.media-wrapper_down--title p{
    font-size : 22px;
    color : #901C1C;
    font-weight : 500;
    margin : 0;
}
.media-wrapper_down--likes{
    display : flex;
    height : fit-content;
    gap : 1vw;   
    border : 1px solid black;
}
.media-wrapper_down--likes p{
    font-size : 22px;
    color : #901C1C;
    font-weight : 500;
    border : 1px solid black;
    margin : 0;
}
.jaime{
    padding : 0;
    cursor : pointer;
}

.fa-heart{
    font-size : 1.5rem;
    border : 1px solid pink;
}

#total-likes{
    display : flex;
    align-items : center;
    gap : 1vw;
}
/* TOTAL LIKES */


.likes{
    position : fixed;
    bottom : 0;
    right : 0;
    display : flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding : 1vh 2vw;
    background-color: #DB8876
}

.red{
    color : red
}



/* MODALE FORMULAIRE */

#contact_modal {
    position : fixed;
    display : flex;
    justify-content : center;
    align-items : center;
    top : 0;
    left : 0;
    width : 100%;
    height : 100vh;
    background-color: rgba(255, 255, 255, 0.497);
    display : none;
}

.modal {
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
    gap : 2vw; 
    width: 34.8vw;
    height : 90vh;
    border-radius: 5px;
    padding : 2vw;
    background-color: #DB8876;  
}

.modal .top{
    display : flex;
    justify-content: space-between;
}

.modal .top img {
    width : 30px;
    height : 30px;
    cursor: pointer;
}

.modal .top h2 {
    font-size: 2rem;
    margin : 0;
}

.modal form{
    display : flex;
    flex-direction: column;
    gap : 2vh;
}

.modal form fieldset{
    display : flex;
    flex-direction: column;
    border : none;
    padding : 0;
}

.modal form fieldset label{
    color: #312E2E;
    font-size: 1.5rem;
}

.modal form fieldset input{
    border : none;
    border-radius : 5px;
    height : 6.3vh;
}

.modal form fieldset textarea{
    border-radius : 5px;
    height : 14.8vh;
}









/* LIGHBOX */

.lightbox{
    position : fixed;
    top : 0;
    left : 0;
    display : flex;
    justify-content : center;
    align-items: center;
    gap : 2vw;
    width : 100%;
    height : 100vh;
    background-color: white;
    transition : opacity .3s ease;
}
.lightbox.fadeOut{
    opacity : 0;
}
.lightbox-close{
    position : absolute;
    top : 5vh;
    right : 50px;
    font-size : 3rem;
}

.image-container{
    display : flex;
    justify-content: center;
    align-items: center;
    width : 70vw;
    height : 90vh;
}

.image-container img, .image-container video{
    width : 100%;
    height : 100%;
    object-fit: contain;
}

button{
    background-color: transparent;
    outline : none;
    border : none;
}

i{
    font-size : 2.5rem;
    color : #901C1C;
    cursor : pointer;
}