@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


body header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographers_wrapper {
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap : 5vw;
    row-gap : 10vh;
    margin : 100px 0;
    box-sizing: border-box;
}

.photographers_wrapper .photographer-card-wrapper {
    display: flex;
    flex-direction: column;
    gap : 1vh;
    width : calc((100% / 3) - 5vw);
    box-sizing: border-box;  
}

.photographers_wrapper .photographer-card-wrapper a {
    display : flex;
    flex-direction: column;
    align-items: center;
    gap : 5vh;
    text-decoration: none;
}

.photographers_wrapper .photographer-card-wrapper a img {
    height: 200px;
    width: 200px;
    border-radius : 50%;
    object-fit: cover;
}

.photographers_wrapper .photographer-card-wrapper a h2 {
    color: #D3573C;
    font-weight : 400;
    font-size: 36px;
    margin : 0;
}

.photographers_wrapper .photographer-card-wrapper div {
    display : flex;
    flex-direction: column;
    align-items: center;
    gap : 1vh;
}

.photographers_wrapper .photographer-card-wrapper div p{
    margin : 0;
    font-weight : 400;
}

.photographers_wrapper .photographer-card-wrapper div p.city{
    font-size : 13px;  
    color : #901C1C;
}

.photographers_wrapper .photographer-card-wrapper div p.tagline{
    font-size : 10px;
}
.photographers_wrapper .photographer-card-wrapper div p.price{
    font-size : 9px;
    color : #757575;
}

