@import "./main.scss";

*{
    box-sizing: border-box;
    background-color: transparent;
    border : none;
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


// HEADER 


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding : 4vh 100px;

    a{
        img{
            height : 50px;
        }

        &:focus{
            outline : 2px solid #db897687;
            box-sizing: content-box;
            box-shadow: #db897687 1px 1px;
        }      
    }

    h1 {
        color: #901C1C; 
    }
}


// PRESENTATION PHOTOGRAPHES

.photographers{
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap : 5vw;
    row-gap : 10vh;
    padding : 100px 0;

    &_card{
        display: flex;
        flex-direction: column;
        gap : 1vh;
        width : calc((100% / 3) - 5vw);

        &-up{
            display : flex;
            flex-direction: column;
            align-items: center;
            gap : 5vh;
            text-decoration: none;
            &:focus{
                outline : 2px solid #db897687;
                box-sizing: content-box;
                box-shadow: #db897687 1px 1px;
            } 

            img{
                height: 200px;
                width: 200px;
                border-radius : 50%;
                object-fit: cover;
            }

            h2{
                color: #D3573C;
                font-weight : 400;
                font-size: 36px;
                margin : 0;
            }
        }

        &-down{
            display : flex;
            flex-direction: column;
            align-items: center;
            gap : 1vh;

            p{
                font-weight : 400;

                &.city{
                    font-size : 13px;  
                    color : #901C1C;
                }
                &.tagline{
                    font-size : 10px;
                }
                &.price{
                    font-size : 9px;
                    color : #757575;
                }
            }
        }
    }
}



/* PHOTOGRAPHER HEADER */

.photographer_header{
    padding : 4vh 100px;

    .photographer{
        display : flex;
        justify-content: space-between;
        align-items : center;
        background-color: #FAFAFA;
        padding : 2vw;

        &_info{
            display : flex;
            flex-direction: column;
            gap : 2vh;
    
            h1{
                font-size : 64px;
                font-weight : 400;
                color : #D3573C;
                line-height: 1.2;
            }
    
            p{
                font-weight : 400;
                line-height: 1.2;
    
                &.city{
                    font-size : 24px; 
                    color : #901C1C;
                }
    
                &.tagline{
                    font-size : 18px;
                    color : #525252;
                }
            }
        }
    
        &_contact{
            button{
                font-size: 20px;
                font-weight: bold;
                color: white;
                padding: 11px;
                width: 170px;
                height: 70px;
                background-color: #901C1C;
                border-radius: 5px;
                cursor : pointer;
                &:hover, &:focus{
                    background-color: #DB8876;
                    outline : 2px solid #db897687;
                }
            }
        }
    
        &_photo{
            img{
                height: 200px;
                width: 200px;
                border-radius : 50%;
                object-fit: cover;
            }
        }
    }

    
}



/* FILTRE */


.medias-sort{
    padding : 5vh 100px;
    width : 100%;

    .sort{
        display : flex;
        gap : 5vw;
    
        &_list{
            width : 15vw;
            color : white;
            border-radius : 0 0 5px 5px;
            overflow : hidden;


            button {
                position : relative;
                display : flex;
                justify-content: space-between;
                align-items: center;       
                font-size: 20px;
                font-weight: bold;
                color: white;
                height: 70px;
                text-align : left;
                padding : 0 2vw;
                background-color: #901C1C; 
                border-radius : 5px;  
                cursor : pointer;
                &:hover, &:focus{
                    background-color: #DB8876;
                    
                }                       

                i{
                    position : absolute;
                    right : 2vw;
                    top : 50%;
                    transform : translateY(-50%);
                    font-size : 15px;
                    color : white;
                    transition: .3s ease-out;
                    &.chevron-up {
                        transform: translateY(-50%) rotate(-180deg);
                        transition: .3s ease-out;
                    }
                }
            }

            .selected {
                width : 100%;
                border-radius: 5px;
                &.border{
                    border-radius : 5px 5px 0 0;
                    transition: .2s linear;
                }
            }
            
            .options {
                display: flex;
                flex-direction: column;
                border-radius : 0 0 5px 5px;
                transform-origin: 50% 0%;
                transition: .2s linear;
                background-color: #901C1C;

                button{
                    position : relative;
                    &::after{
                        position : absolute;
                        content : '';
                        top : 0;
                        left : 50%;
                        transform : translateX(-50%);
                        width : 80%;
                        height : 1px;
                        background-color: white;
                    }
                }
            }
        }
    
        
        .hidden {
            transform: scaleY(0);
            transition: .2s linear;
        }     
    }
}



/* MEDIAS */ 


.medias{
    display: grid;
    grid-template-columns: repeat(auto-fill, 30.2%);
    justify-content: space-between;
    grid-gap: 3vw;
    padding: 5vh 100px;
    overflow : hidden;

    &_card{
        display : flex;
        flex-direction: column;
        gap : 1vh;
        height : 25vw;

        &-up{
            width : 100%;
            height : 100%;
            border-radius : 5px;
            overflow: hidden;
            cursor : pointer;

            img, video{
                width : 100%;
                height : 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &-down{
            display : flex;
            justify-content: space-between;
            width : 100%;

            &--title{
                display : flex;
                height : fit-content;

                p{
                    font-size : 22px;
                    color : #901C1C;
                    font-weight : 500;
                }
            }

            &--likes{
                display : flex;
                align-items: center;
                height : fit-content;
                gap : .5vw;   

                p{
                    font-size : 20px;
                    color : #901C1C;
                    font-weight : 500;
                    margin : 0;
                }

                i{
                    font-size : 1.5rem;
                    &:focus{
                        outline : 2px solid #db897687;
                        box-sizing: content-box;
                        box-shadow: #db897687 1px 1px;
                    } 
                }               
                
            }
        }
    }
}




/* TOTAL LIKES */


.likes{
    position : fixed;
    bottom : 0;
    right : 2.5vw;
    padding : 2vh 3vw;
    border-radius : 5px 5px 0 0;
    background-color: #DB8876;

    &_container{
        display : flex;
        gap : 1.5vw;
    }

    &_bloc-total{
        display : flex;
        align-items : center;
        justify-content: space-between;
        gap : .5vw;
        font-size : 24px;
        font-weight : 500;
        width : 5vw;
        text-align : right;

        i{
            font-size : 1.5rem;
        }
    }

    &_price{
        margin : 0;
        padding : 0;
        font-size : 24px;
        font-weight : 500;
    }
}



/* MODALE FORMULAIRE */

.contact_modal {
    position : fixed;
    display : flex;
    justify-content : center;
    align-items : center;
    top : 0;
    left : 0;
    width : 100%;
    height : 100vh;
    background-color: rgba(255, 255, 255, 0.497);
    display : none;

    &-container {
        display: flex;
        flex-direction: column;  
        justify-content: space-between;
        gap : 2vw; 
        width: 34.8vw;
        height : 90vh;
        border-radius: 5px;
        padding : 2vw;
        background-color: #DB8876; 
        
        &--top{
            display : flex;
            justify-content: space-between;

            img{
                width : 30px;
                height : 30px;
                cursor: pointer;
            }

            h2{
                font-size: 2rem;
                margin : 0;
            }
        }

        form{
            display : flex;
            flex-direction: column;
            gap : 2vh;

            fieldset{
                display : flex;
                flex-direction: column;
                border : none;
                padding : 0;

                label{
                    color: #312E2E;
                    font-size: 1.2rem;
                }

                input{
                    border : none;
                    border-radius : 5px;
                    height : 6.3vh;
                    padding : 1vw;
                    font-size: 1.2rem;
                    background-color: white;;
                }

                textarea{
                    border-radius : 5px;
                    height : 14.8vh;
                    padding : 1vw;
                    font-size: 1.2rem;
                    background-color: white;;
                }
            }

            button{
                font-size: 20px;
                font-weight: bold;
                color: white;
                padding: 11px;
                width: 170px;
                height: 70px;
                background-color: #901C1C;
                border-radius: 5px;
            }
        }
    }
}







/* LIGHBOX */

.lightbox{
    position : fixed;
    top : 0;
    left : 0;
    display : flex;
    justify-content : center;
    align-items: center;
    gap : 2vw;
    width : 100%;
    height : 100vh;
    background-color: white;
    transition : opacity .3s ease;
}
.lightbox.fadeOut{
    opacity : 0;
}
.lightbox-close{
    position : absolute;
    top : 5vh;
    right : 50px;
    font-size : 3rem;
}

.image-container{
    display : flex;
    justify-content: center;
    align-items: center;
    width : 70vw;
    height : 90vh;

    .title-lightbox{
        background-color: pink;
        width : 100%;
        height : 10vh;
    }
}

.image-container img, .image-container video{
    width : 100%;
    height : 100%;
    object-fit: contain;
}

i{
    font-size : 2.5rem;
    color : #901C1C;
    cursor : pointer;
}










